body {
  margin: 0;
  --main-bg-color: #f3eaea;
  background-color: var(--main-bg-color);
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 2rem;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 4fr 1fr;
  grid-template-columns: minmax(15rem, 1fr);
}

.header-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 4rem;
  border-radius: 0.5rem;
  object-fit: contain;
}

.form {
  flex: 0.85;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-container {
  width: clamp(10rem, 70%, 30rem);
  position: relative;
  display: inline-block;
}

.drop-down {
  position: absolute;
  background-color: coral;
  width: 100%;
  display: none;
  z-index: 1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.search:focus + .drop-down {
  display: block;
}

.drop-down-container ul {
  display: flex;
  flex-direction: column;
}

.drop-down-container li {
  display: flex;
  width: 100%;
  gap: 0.75rem;
  padding: 0.5rem;
  border-bottom: 1px solid #100f0f;
  transition: ease-in-out 0.2s;
}

.drop-down-container li:last-of-type {
  border-bottom: none;
}

.drop-down-container li:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.drop-down-item {
  display: flex;
  flex-direction: column;
}

.drop-down img {
  width: 3rem;
  border-radius: 0.5rem;
  object-fit: contain;
}

input {
  padding-left: 0.5rem;
  width: 100%;
  border-radius: 0.25rem;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  background-color: transparent;
}

.btn {
  padding: 0.25rem 1.75rem;
  border-radius: 0.6rem;
  background-color: #15d494;
  border: none;
}

.media-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}

img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 2rem;
}

.details {
  grid-row: 4 / span 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

span {
  font-weight: normal;
  font-size: medium;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  font-weight: bold;
}
