body {
  margin: 0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 4fr 1fr;
  grid-template-columns: minmax(15rem, 1fr);
  gap: 2rem;
}

.header-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form {
  flex: 0.75;
  display: flex;
  align-items: center;
  gap: 7rem;
}

.search-container {
  min-width: 50%;
}

input {
  padding-left: 0.5rem;
  width: 100%;
  border-radius: 0.25rem;
  border: 1px solid #000000;
}

.media-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10rem;
}

img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 2rem;
}

.details{
  grid-row: 4 / span 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

span{
  font-weight: normal;
  font-size: medium;
}